
<section class="form-container">
  <strong> Login </strong>

  <ul>
    <li>
      <app-input type="text" placeholder="E-mail" (modelChangeEmitter)="email = $event"></app-input>
    </li>
    <li>
      <app-input [isPassword]="true" placeholder="Senha" (modelChangeEmitter)="senha = $event"></app-input>
    </li>
    <li>
      <ng-container *ngIf="_error; else notError">
        <app-button label="Login/Senha Incorretos!" color="red"></app-button>
      </ng-container>

      <ng-template #notError>
        <ng-container *ngIf="_confirming; else notConfirm">
          <app-button label="Logado com Sucesso" color="green"></app-button>
        </ng-container>

        <ng-template #notConfirm>
          <app-button label="Acessar" (onClickChangeEmitter)="validatePassword(); sendLogin()"></app-button>
        </ng-template>
      </ng-template>


      <div class=errors>
        <ng-container *ngIf="hasErrors">
          <ng-container *ngFor="let erro of _errors">
            <small>
              {{erro}}
            </small>
          </ng-container>
        </ng-container>
      </div>
    </li>
  </ul>

  <div>
    <small>Esqueci minha senha</small>
    <small>Não possue cadastro? <a (click)="goToRegister()">Cadastrar</a></small>
  </div>

</section>
