
<section class="form-container">
  <strong> Login </strong>

  {{login}}
  {{password}}
  <ul>
    <li>
      <app-input type="text" placeholder="E-mail" (modelChangeEmitter)="login = $event"></app-input>
    </li>
    <li>
      <app-input [isPassword]="true" placeholder="Senha" (modelChangeEmitter)="password = $event"></app-input>
    </li>
    <li>
      <app-button label="Acessar"></app-button>
    </li>
  </ul>

  <div>
    <small>Esqueci minha senha</small>
    <small>Não possue cadastro? <a>Cadastrar</a></small>
  </div>

</section>
