<section class="form-container">
  <strong> Cadastro </strong>

  <ul>
    <div class="switch-container">
      <svg
        width="40"
        height="40"
        [ngClass]="{'checked': !typeUser}"
        appToolTip tooltip="Quero adotar!" theme="white" position="bottom"
      >
        <use xlink:href="../../../assets/svg/default.svg#default" />
      </svg>

      <label class="switch">
        <input type="checkbox" [(ngModel)]="typeUser">
        <span class="slider round"></span>
      </label>

      <svg
        width="40"
        height="40"
        style="padding-left: 8px;padding-top: 2px;"
        [ngClass]="{'checked': typeUser}"
        appToolTip tooltip="Sou ONG" theme="white" position="bottom"
      >
        <use xlink:href="../../../assets/svg/ong.svg#ong" />
      </svg>
    </div>

    <li>
      <app-input type="text" placeholder="Nome Completo" (modelChangeEmitter)="name = $event"></app-input>
    </li>
    <li>
      <app-input type="text" placeholder="E-mail" (modelChangeEmitter)="email = $event"></app-input>
    </li>
    <li>
      <app-input [error]="hasErrors" [isPassword]="true" placeholder="Senha" (modelChangeEmitter)="senha = $event"></app-input>
    </li>
    <li style="padding-bottom: 36px;">
      <app-input [error]="hasErrors" [isPassword]="true" placeholder="Repetir a senha"(modelChangeEmitter)="rSenha = $event"></app-input>

      <div class=errors>
        <ng-container *ngIf="hasErrors">
          <ng-container *ngFor="let erro of _errors">
            <small>
              {{erro}}
            </small>
          </ng-container>
        </ng-container>
      </div>
    </li>
    <li>
      <div>
        <ng-container *ngIf="_confirming; else notConfirm">
          <app-button label="Registrado com Sucesso" color="green"></app-button>
        </ng-container>

        <ng-template #notConfirm>
          <app-button label="Cadastrar" (onClickChangeEmitter)="validatePassword(); sendRegister()"></app-button>
        </ng-template>

        <app-button label="Alterar cadastro"></app-button>
      </div>
    </li>
  </ul>

  <div>
    <small>Já possui cadastro? <a (click)="goToLogin()">Logar</a></small>
  </div>

</section>
