<section class="form-container">
  <strong> Cadastro </strong>

  <ul>
    <li>
      <app-input type="text" placeholder="Nome Completo" (modelChangeEmitter)="name = $event"></app-input>
    </li>
    <li>
      <app-input type="text" placeholder="E-mail" (modelChangeEmitter)="email = $event"></app-input>
    </li>
    <li>
      <app-input [error]="hasErrors" [isPassword]="true" placeholder="Senha" (modelChangeEmitter)="senha = $event"></app-input>
    </li>
    <li style="padding-bottom: 36px;">
      <app-input [error]="hasErrors" [isPassword]="true" placeholder="Repetir a senha"(modelChangeEmitter)="rSenha = $event"></app-input>

      <div class=errors>
        <ng-container *ngIf="hasErrors">
          <ng-container *ngFor="let erro of _errors">
            <small>
              {{erro}}
            </small>
          </ng-container>
        </ng-container>
      </div>
    </li>
    <li>
      <div>
        <app-button label="Cadastrar" (onClickChangeEmitter)="validatePassword(); sendRegister()"></app-button>

        <app-button label="Alterar cadastro"></app-button>
      </div>
    </li>
  </ul>

  <div>
    <small>Já possui cadastro? <a>Logar</a></small>
  </div>

</section>
