ul {
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  list-style: none;
}

body {
  margin: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: block;
}

app-button {
  width: 100%;
}

p {
  margin-inline: 0;
  padding-inline: 0;
  margin-block: 0;
}

h1 {
  margin-block: 0;
}
