input {
  border-radius: 29px;
  background: #fff;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 100%;
  height: 58px;
  font-size: 20px;
  font-family: Chicle;
  outline: none;
  transition: ease-out 0.3s;
  border: 2px solid #fff;
  box-shadow: -1px 4px 29px 0px rgb(0 0 0 / 41%);

  &:focus,&:hover {
    transition: ease 0.3s;
    border: 2px solid #24237b
  }

  &.error {
    transition: ease 0.3s;
    border: 2px solid red
  }
}
