section {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 60px;
      height: 60px;
    }

    p {
      color: #F55C5D;
      font-family: Chicle;
      margin: 0;
      margin-block: 0;
      margin-inline: 0;
      font-size: 26px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;

    li {
      p {
        font-size: 32px;
        font-family: Chicle;
        font-weight: 600;

        &:hover{
          transition: ease 0.3s;
          opacity: 0.6;
          cursor: pointer;
        }
      }
    }
  }
}
