<section [ngClass]="{'auth': isAuthRoute, 'ong': isOngRoute}">
  <div>
    <img src="../../../assets/img/logo.png" [routerLink]="['/home']">
    <p>Patinhas</p>
  </div>

  <ng-container *ngIf="isDefault">
    <ul>
      <li>
        <p [routerLink]="['/home']" >Home</p>
      </li>
      <li>
        <p [routerLink]="['/user']">Adotar Pet</p>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="isOngRoute">
    <ul>
      <li>
        <p [routerLink]="['/ong/home']">Home</p>
      </li>
      <li>
        <p [routerLink]="['/ong/register']">Adicional Animal para adoção</p>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="!isAuthRoute && !isOngRoute && !isDefault">
    <ul>
      <li [routerLink]="['/home']">
        <p>Inicio</p>
      </li>
      <li>
        <p>Nossos Serviços</p>
      </li>
      <li>
        <p>ONG's</p>
      </li>
    </ul>

    <div class="center">
      <app-button label="Quero AUdotar!" color="#24237B" width="70%" (onClickChangeEmitter)="queroAUdotar()"></app-button>
    </div>
  </ng-container>

  <ng-container *ngIf="isOngRoute || isDefault">
    <div class="user-action">
      <div class="img">
        <svg>
        <use xlink:href="../../../assets/svg/default_logo.svg#default_logo" />
      </svg>
      </div>
    </div>
  </ng-container>
</section>
