<section id="sect1">
  <img src="../../../assets/img/dog01.png">

  <label>
    <h1>
      Bem vindes ao Patinhas!
    </h1>

    <p>Nossa paixão por cães é o que nos impulsiona. Acreditamos que cada cão merece amor, carinho e um lugar para
      chamar de lar. É por isso que trabalhamos incansavelmente para conectar cães adoráveis com pessoas incríveis como
      você! </p>
  </label>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#eaf9ff" fill-opacity="0.95"
      d="M0,160L40,170.7C80,181,160,203,240,197.3C320,192,400,160,480,154.7C560,149,640,171,720,186.7C800,203,880,213,960,229.3C1040,245,1120,267,1200,266.7C1280,267,1360,245,1400,234.7L1440,224L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
    </path>
  </svg>
</section>

<section id="sect2">
  <label>
    <h1>Nossos Serviços</h1>
    <p>Aqui encontrará uma ampla variedade de cães, tamanhos e idades, cada um com sua própria história especial. Você
      pode explorar seus perfis, aprender sobre suas personalidades e ver fotos adoráveis. Temos certeza de que você
      encontrará o companheiro perfeito que se encaixa no seu estilo de vida e no seu coração. </p>
  </label>

  <section class="cards-container">
    <div class="cards">
      <img src="../../../assets/img/layer_1.png">
      <hr>
      <label>
        <h2>Encontre seu Pet</h2>
        <p>Navegue por uma seleção diversificada de cães disponíveis para adoção. Cada perfil inclui informações
          detalhadas sobre o cão, incluindo idade, raça, personalidade e histórico.</p>
      </label>
    </div>
    <div class="cards">
      <img src="../../../assets/img/layer_2.png">
      <hr>
      <label>
        <h2>Cadastre um Pet</h2>
        <p>Cadastrar um pet para adoçã é uma maneira eficaz de ajudar a encontrar um lar amoroso para o animal.
          Lembre-se de atualizar o anúncio à medida que o pet encontra um lar para evitar receber consultas
          desnecessárias.</p>
      </label>
    </div>
    <div class="cards">
      <img src="../../../assets/img/layer_3.png">
      <hr>
      <label>
        <h2>Saiba Como Ajudar</h2>
        <p>Ajudar uma ONG de animais é uma maneira de contribuir para o bem-estar dos animais e apoiar uma causa que
          você se preocupa. Existem várias maneiras de oferecer ajuda as nossas ONG’s credenciadas. </p>
      </label>
    </div>
  </section>

  <div class="center action-button">
    <app-button label="Quero AUdotar!" color="#24237B" width="100%"
      (onClickChangeEmitter)="queroAUdotar()"></app-button>
  </div>

  <section class="help-container">
    <img src="../../../assets/img/layer_4.png">

    <label>
      <h2>Conheça maneiras de ajudar, além da adoção:</h2>

      <ul>
        <li> Voluntariado </li>
        <li>Apadrinhamento de animais</li>
        <li>Fornecer suprimentos</li>
      </ul>

      <div class="center">
        <app-button label="Quero ajudar!" color="#24237B" width="100%"
          (onClickChangeEmitter)="queroAUdotar()"></app-button>
      </div>
    </label>
  </section>

  <footer>
    <div class="card-foote">
      <h2> É uma ONG? </h2>
      <p>Aqui no Patinhas também temos a possibilidade de ONG’s cadastrarem seus animais animais disponíveis para
        adoção, fazendo com que os futuros tutores tenham maior possibilidade de encontrar seu AUmigo! </p>
      <div class="center">
        <app-button label="Cadastre um Animal!" color="#24237B" width="80%" (onClickChangeEmitter)="cadastrarAnimal()"></app-button>
      </div>
    </div>
  </footer>
</section>
